<ion-view style="" id="page10" title="deals">
<ion-nav-title>
		<h2 class="tb-head">DEALS</h2>
    </ion-nav-title>
	<!-- <ion-nav-buttons side="right">
		<button class="button button-clear  icon tb-search-btn txt-color-white m-r"></button>
    </ion-nav-buttons> -->
	<div class="tb-main-tab">
		<div class="tb-main-tab-inner">
			<ul>
				<li class="t1" ui-sref="sidemenu.home">HOME</li>
				<li class="t2" ui-sref="sidemenu.movies">TICKETS</li>
				<li class="t3" ui-sref="sidemenu.myaccounts"  ng-show="checkLogin">MY ACCOUNT</li>
				<li class="t4" ui-sref="sidemenu.trendings">TRENDINGS</li>
			</ul>
		</div>
	</div>
    <ion-content class="has-header">
	<div class="tb-tickets-wrap2">
		<ion-slide-box does-continue="true" auto-play="true"  show-pager="false" pager-click="false" on-slide-changed="slideHasChanged($index)"  delegate-handle="image">
			<ion-slide>
				<div class="tb-deals-slider">
				</div>
			</ion-slide>
			<ion-slide>
				<div class="tb-deals-slider">
				</div>
			</ion-slide>
			<ion-slide>
				<div class="tb-deals-slider">
				</div>
			</ion-slide>
			<ion-slide>
				<div class="tb-deals-slider">
				</div>
			</ion-slide>
		</ion-slide-box>
		<div class="tb-deals-pack">
			<div class="deal1">Cards</div>
			<div class="deal2">Net Banking</div>
			<div class="deal3">Mobile</div>
			<div class="deal4">Wallet</div>
			<div class="deal5">Ticket Bazar</div>
			<div class="deal6">Cinema</div>
		</div>
		<div class="tb-deals-ul">
			<ul>
				<li>
				<div>
				<img src="img/tb-ad.png">
				</div>
				<div class="tb-deal-detail">
				<div class="icici"></div>
				<h2>ICICI BANK CARD OFFERS</h2><br>
				<p>VALID TILL - 30-SEP-2016 23:59</p>
				</div>
				</li>
				<li>
				<div>
				<img src="img/tb-ad.png">
				</div>
				<div class="tb-deal-detail">
				<div class="icici"></div>
				<h2>ICICI BANK CARD OFFERS</h2><br>
				<p>VALID TILL - 30-SEP-2016 23:59</p>
				</div>
				</li>
				<li>
				<div>
				<img src="img/tb-ad.png">
				</div>
				<div class="tb-deal-detail">
				<div class="icici"></div>
				<h2>ICICI BANK CARD OFFERS</h2><br>
				<p>VALID TILL - 30-SEP-2016 23:59</p>
				</div>
				</li>
				<li>
				<div>
				<img src="img/tb-ad.png">
				</div>
				<div class="tb-deal-detail">
				<div class="icici"></div>
				<h2>ICICI BANK CARD OFFERS</h2><br>
				<p>VALID TILL - 30-SEP-2016 23:59</p>
				</div>
				</li>
				
			</ul>
		</div>
	</div>
	
	</ion-content>
</ion-view>