<ion-view style="" id="page24" title="movies2">
<ion-nav-title>
		<h2 class="tb-head">TICKET BAZZAR</h2>
    </ion-nav-title>
	<ion-nav-buttons side="right">
		<button class="button button-clear  icon tb-search-btn txt-color-white m-r"></button>
    </ion-nav-buttons>
    <ion-content class="has-header">
		<div class="tb-search-bar">
		<input type="text" class="tb-search-bar-input" placeholder="Search for Movie,Language,Actor">
	</div>

	<div class="tb-movie-wrap">
		<ul>
		<li>
		<div class="tb-movie-banner">
			<img src="img/dory.png">
			<div class="tb-ratting">90%</div>
		</div>
		<div class="tb-movie-btm">
			<div class="tb-movie-left"><h1>FINDING DORY</h1><p>(english)</p></div>
			<div class="tb-movie-right">
			<button class="tb-more-btn" ui-sref="sidemenu.movieprofile">MORE</button>
			</div>
		</div>
		</li>
		<li>
		<div class="tb-movie-banner">
			<img src="img/dory.png">
			<div class="tb-ratting">90%</div>
		</div>
		<div class="tb-movie-btm">
			<div class="tb-movie-left"><h1>FINDING DORY</h1><p>(english)</p></div>
			<div class="tb-movie-right">
			<button class="tb-more-btn" ui-sref="sidemenu.movieprofile">MORE</button>
			</div>
		</div>
		</li>
		<li>
		<div class="tb-movie-banner">
			<img src="img/dory.png">
			<div class="tb-ratting">90%</div>
		</div>
		<div class="tb-movie-btm">
			<div class="tb-movie-left"><h1>FINDING DORY</h1><p>(english)</p></div>
			<div class="tb-movie-right">
			<button class="tb-more-btn" ui-sref="sidemenu.movieprofile">MORE</button>
			</div>
		</div>
		</li>
		<li>
		<div class="tb-movie-banner">
			<img src="img/dory.png">
			<div class="tb-ratting">90%</div>
		</div>
		<div class="tb-movie-btm">
			<div class="tb-movie-left"><h1>FINDING DORY</h1><p>(english)</p></div>
			<div class="tb-movie-right">
			<button class="tb-more-btn" ui-sref="sidemenu.movieprofile">MORE</button>
			</div>
		</div>
		</li>
		<li>
		<div class="tb-movie-banner">
			<img src="img/dory.png">
			<div class="tb-ratting">90%</div>
		</div>
		<div class="tb-movie-btm">
			<div class="tb-movie-left"><h1>FINDING DORY</h1><p>(english)</p></div>
			<div class="tb-movie-right">
			<button class="tb-more-btn" ui-sref="sidemenu.movieprofile">MORE</button>
			</div>
		</div>
		</li>
	
	
		
		</ul>
	</div>
    </ion-content>
	<ion-footer-bar class="tb-theme-color padding0">
		<div class="tb-footer-menu" ui-sref="sidemenu.movies">
		NOW SHOWING
		</div>
		<div class="tb-footer-menu inner-shadw">
		COMMING SOON
		</div>
	</ion-footer-bar>
</ion-view>