<ion-view style="" id="page13" title="">
<ion-nav-title>
		<h2 class="tb-head">MY ACCOUNT</h2>
    </ion-nav-title>
	
    <ion-content class="has-header">
		<div class="tb-tickets-wrap1">
				<div class="tb-profile-slot">
					<div class="tb-social">
						<div class="s1"></div>
						<div class="s2"></div>
					</div>
					<div class="accountimg">
					  <img src="{{user_image}}">	</div>		
			         <h1>{{userData.first_name}} {{userData.last_name}}</h1>
				</div>
			</div>
			<!-- <div class="a1" ui-sref="sidemenu.mywallet">
				<img src="img/tb-wallet.png"><br>
				MY WALLET
			</div> -->
			<div class="a2" ui-sref="sidemenu.bookinghistory">
				<img src="img/tb-bh.png"><br>
				BOOKING HISTORY
			</div>
			<!-- <div class="a3" ui-sref="sidemenu.quickpay">
				<img src="img/tb-quickpay.png"><br>
				QUICK PAY
			</div> -->
			<div class="a4" ui-sref="sidemenu.settings">
				<img src="img/tb-settings.png"><br>
				SETTINGS
			</div>
    </ion-content>
</ion-view>