<ion-view style="" id="page10" title="deals">
<ion-nav-title>
		<h2 class="tb-head">BOOKING SUMMARY</h2>
    </ion-nav-title>

	
    <ion-content class="has-header tb-my-wallet-wrap">
		<div class="tb-settings-wrap">

		<div class="">

			<div class="tb-my-wallet-wrap-inner" style="padding-bottom:0px;" >
				<div class="tb-booking-summary">
					<ul>
						<li class="tb-bk-child-1">FILM&nbsp;:&nbsp;{{film_name}}</li>
						<li class="tb-bk-child-2"></li>
					</ul>
					<ul>
						<li class="tb-bk-child-1">SEAT NO&nbsp;:&nbsp;{{paymentdetails.seat}}</li>
						<li class="tb-bk-child-2"></li>
					</ul>
					<ul>
						<li class="tb-bk-child-1">SCREEN {{screen}}</li>
						<li class="tb-bk-child-2"></li>
					</ul>
					<ul>
						<li class="tb-bk1 tb-bk-child-1">Sub Total</li>
						<li class="tb-bk-child-2">RS.{{paymentdetails.sub_total}}</li>
					</ul>
					<ul>
						<li class="tb-bk-child-1">Internet handling fees</li>
						<li class="tb-bk-child-2">RS.{{paymentdetails.internet_fee}}</li>
					</ul>
					<ul>
						<li class="tb-bk2 tb-bk-child-1">Booking Fees</li>
						<li class="tb-bk2 tb-bk-child-2">Rs.{{paymentdetails.booking_fees}}</li>
					</ul>
					<ul>
						<li class="tb-bk2 tb-bk-child-1">Service Tax @ 14%</li>
						<li class="tb-bk2 tb-bk-child-2">Rs.{{paymentdetails.service_tax}}</li>
					</ul>
					<ul>
						<li class="tb-bk2 tb-bk-child-1">Swachh Bharat Cess @ 0.50%</li>
						<li class="tb-bk2 tb-bk-child-2">Rs.{{paymentdetails.swachh_bharat}}</li>
					</ul>
					<ul>
						<li class="tb-bk-child-1">Amount Payable</li>
						<li class="tb-bk-child-2">Rs.{{paymentdetails.price}}</li>
					</ul>
				</div>
			</div>
			
		</div>
	</div>
	<!-- <div class="pay_btn"><button class="payment_btn">Book Now</button></div> -->
		<div class="tb-proceed-bay">
				<button class="tb-proceed-btn booknow_btn"ng-click="book_now()" >BOOK NOW</button>
				<button class="tb-proceed-btn booknow_btn" ng-click="cancel()" >CANCEL</button>
			</div>
	</div>
	
	</ion-content>
</ion-view>