<ion-view style="" id="page19" title="quickpay">
<ion-nav-title>
		<h2 class="tb-head">QUICK PAY</h2>
    </ion-nav-title>
	<ion-nav-buttons side="right">
		<button class="button button-clear  icon tb-filter-btn txt-color-white m-r"></button>
    </ion-nav-buttons>
    <ion-content class="has-header">
	<div class="tb-quick-pay-main">
      <ul>
          <li class="drop-shadow curved-hz-2 curved">
            <div class="quick-head">
                <div class="qh1">Credit/Debit Cards</div>
                  <button class="qh2" data-toggle="modal" data-target="#credit">+ Add</button>
            </div>
              <p>You Don't have any Credit/Debit card added to Quick pay</p>
          </li>
          <li class="drop-shadow curved-hz-2 curved">
            <div class="quick-head">
                <div class="qh1">Net Banking</div>
                  <button class="qh2" data-toggle="modal" data-target="#credit">+ Add</button>
            </div>
              <p>You Don't have any Credit/Debit card added to Quick pay</p>
          </li>
          <li class="drop-shadow curved-hz-2 curved">
            <div class="quick-head">
                <div class="qh1">Gift Vouchers</div>
                  <button class="qh2" data-toggle="modal" data-target="#credit">+ Add</button>
            </div>
              <p>You Don't have any Credit/Debit card added to Quick pay</p>
          </li>

      </ul>
    </div>
	
	</ion-content>
</ion-view>